{% extends "home.html" %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="container">
    <h2 class="text-center">Individual Patient Records</h2>
    <div class="row">
        <div class="col-lg-4">
            <img src="/media/{{object.picture}}" width="300px"/>
        </div>
        <div class="col-lg-8">
            <p style="font-size:1.5em;">First Name: {{object.first_name}}</p>
            <p style="font-size:1.5em;">Last Name: {{object.last_name}}</p>
            <p style="font-size:1.5em;">Age: {{object.age}}</p>
            <p style="font-size:1.5em;">Mobile: {{object.mobile}}</p>
        </div>
    </div>
    <h3 class="text-center">Patient Disease</h3>
    <div class="row">
        <div class="col-lg-12">
            <form action="/save_disease/{{pk}}/" method="post" enctype="multipart/form-data">{% csrf_token %}
                <table id="addition">
                    {{ form }}
                </table>
                <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                <button type="button" class="btn btn-lg btn-info" onclick="addMore()">Add More Fields</button>
            </form>
        </div>
    </div> 
</div>
<script>
function addMore(){
    var field = prompt("Enter a field Name:");
    var field_id = "id_" + field.toLowerCase()
    var data = "<tr><th><label for="+field_id+">"+field+"</label></th><td><input class='form-control' id="+field_id+" name="+field.toLowerCase()+ " type='text'/></td></tr>";
    alert(data);
    $("#addition").html($("#addition").html() + data)
}
</script>
{% endblock %}